{% extends 'admin/main.html.twig' %}


{% block title %} Ayarlar Bölümü {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Responsive Hover Table</h3>

                    <div class="card-tools">
                        <div class="input-group input-group-sm" >
                           <a href="{{ path('admin.setting.add') }}"><button class="btn btn-primary">Ayar Oluştur</button></a>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Başlık</th>
                            <th>Açıklama</th>
                            <th>Durum</th>
                            <th>İşlemler</th>
                        </tr>
                        </thead>
                        <tbody>

                        {% for setting in settings %}
                                <tr>
                                    <td>{{ setting.id }}</td>
                                    <td>{{ setting.title }}</td>
                                    <td>{{ setting.description }}</td>
                                    <td><span class="tag tag-success">Approved</span></td>
                                    <td>
                                        <div class="btn-group">
                                            <div class="btn-group"><button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <i>İşlemler</i>
                                                </button>
                                                <div class="dropdown-menu" style="">
                                                    <a class="dropdown-item" href="{{ path('admin.setting.detail', {id: setting.id} ) }}">Detay</a>
                                                    <a class="dropdown-item" href="#">Sil</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.card-body -->

                {% if isPagination is defined and isPagination %}
                        <div class="card-footer clearfix">
                            <ul class="pagination pagination-sm m-0 float-right">

                                {% if page != 1 %}
                                    <li class="page-item"><a class="page-link" href="{{ path('admin.setting.alls', {page: page - 1, limit: limit} ) }}">«</a></li>
                                {% endif %}

                                {%  for i in range(1, nbrePage) %}
                                    <li class="page-item"><a class="page-link" href="{{ path('admin.setting.alls', {page:i, limit: limit} ) }}">{{ i }}</a></li>
                                {% endfor %}


                                {% if page != nbrePage %}
                                    <li class="page-item"><a class="page-link" href="{{ path('admin.setting.alls', {page: page + 1, limit: limit} ) }}">»</a></li>
                                {% endif %}
                            </ul>
                        </div>
                {% endif %}
            </div>
            <!-- /.card -->
        </div>
    </div>

{% endblock %}